<section class="auth">
    <div class="auth-form">
        <h2 class="auth-form__title">Food<span>Mania</span></h2>
        <form>
            <input type="email" placeholder="Email Address" />
            <input type="password" placeholder="Password" />
            <div class="auth-form__btn">
                <button class="btn">Login</button>
            </div>
        </form>
        <div class="link">
            <span>Don't have an account?</span>
            <a href="/register">Register</a>
        </div>
    </div>
    <div class="bottom-bar"></div>
</section>