<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-title">
            <h4>Food <span>Mania</span></h4>
        </div>
        <div class="navbar-items">
            <ul class="navbar-items__list">
                <li><a href="">Menu</a></li>
                <li><a href="">Offers</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Cart(0)</a></li>
            </ul>
        </div>
    </nav>

    <section class="hero">
        <div class="hero-section module">
            <div class="hero-section__content">
                <h4>Welcome to Food <span>Mania</span></h4>
                <p>Fastest <span>Delivery</span> & Easy <span>Pickup</span></p>
                <button class="btn">Order Now</button>
            </div>
            <div class="hero-section__image">
                <img src="/img/hero-image.png" alt="" />
            </div>
        </div>
    </section>
</body>

</html>