<section class="hero">
    <div class="hero-section module">
        <div class="hero-section__content">
            <h4>Welcome to Food <span>Mania</span></h4>
            <p>Fastest <span>Delivery</span> & Easy <span>Pickup</span></p>
            <button class="btn">Order Now</button>
        </div>
        <div class="hero-section__image">
            <img src="/img/hero-image.png" alt="" />
        </div>
    </div>
</section>

<section class="menu module">
    <h1 class="menu-title">All Items</h1>
    <div class="menu-content">
        <div class="menu-content__card">
            <img src="/img/waffle.png" alt="" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Waffle</h2>
                <p class="card-text">Strawberry Toppings</p>
                <div class="card-bottom">
                    <span class="card-price">Rs. 200</span>
                    <button class="card-btn">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="menu-content__card">
            <img src="/img/waffle.png" alt="" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Waffle</h2>
                <p class="card-text">Strawberry Toppings</p>
                <div class="card-bottom">
                    <span class="card-price">Rs. 200</span>
                    <button class="card-btn">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="menu-content__card">
            <img src="/img/waffle.png" alt="" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Waffle</h2>
                <p class="card-text">Strawberry Toppings</p>
                <div class="card-bottom">
                    <span class="card-price">Rs. 200</span>
                    <button class="card-btn">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="menu-content__card">
            <img src="/img/waffle.png" alt="" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Waffle</h2>
                <p class="card-text">Strawberry Toppings</p>
                <div class="card-bottom">
                    <span class="card-price">Rs. 200</span>
                    <button class="card-btn">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="menu-content__card">
            <img src="/img/waffle.png" alt="" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Waffle</h2>
                <p class="card-text">Strawberry Toppings</p>
                <div class="card-bottom">
                    <span class="card-price">Rs. 200</span>
                    <button class="card-btn">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="menu-content__card">
            <img src="/img/waffle.png" alt="" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Waffle</h2>
                <p class="card-text">Strawberry Toppings</p>
                <div class="card-bottom">
                    <span class="card-price">Rs. 200</span>
                    <button class="card-btn">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="menu-content__card">
            <img src="/img/waffle.png" alt="" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Waffle</h2>
                <p class="card-text">Strawberry Toppings</p>
                <div class="card-bottom">
                    <span class="card-price">Rs. 200</span>
                    <button class="card-btn">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="menu-content__card">
            <img src="/img/waffle.png" alt="" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Waffle</h2>
                <p class="card-text">Strawberry Toppings</p>
                <div class="card-bottom">
                    <span class="card-price">Rs. 200</span>
                    <button class="card-btn">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>