@import url(https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@400;500;600;700&display=swap);
.module{
  width: 100%;
}
@media (min-width: 640px){
  .module{
    max-width: 640px;
  }
}
@media (min-width: 768px){
  .module{
    max-width: 768px;
  }
}
@media (min-width: 1024px){
  .module{
    max-width: 1024px;
  }
}
@media (min-width: 1280px){
  .module{
    max-width: 1280px;
  }
}
@media (min-width: 1536px){
  .module{
    max-width: 1536px;
  }
}
.module{
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration-line: none;
}

.btn{
  margin-top: 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
}

*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #ffffff;
}
.navbar-title > h4{
  font-size: 1.5rem;
  line-height: 2rem;
}
.navbar-title > h4 > span {
  color: #fe5f1e;
}
.navbar-items__list{
  display: flex;
  align-items: center;
}
.navbar-items__list > li{
  margin-left: 1.5rem;
  list-style-type: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.navbar-items__list > li a {
  color: #232323;
  transition: 0.1s all ease-in-out;
}
.navbar-items__list > li a:hover {
  color: #fe5f1e;
}

.hero{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ccc;
}
.hero-section{
  display: flex;
  justify-content: space-around;
}
.hero-section__content{
  width: 50%;
}
.hero-section__content > h4{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}
.hero-section__content > h4 > span {
  color: #fe5f1e;
}
.hero-section__content > p{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}
.hero-section__content > p > span {
  color: #fe5f1e;
  font-family: "Caveat Brush", cursive;
}
.hero-section__image img{
  height: 24rem;
  width: 24rem;
  border-radius: 9999px;
}
.hero button {
  background-color: #fe5f1e;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  transition: 0.1s all ease-in-out;
}
.hero button:hover {
  background-color: #b23301;
}

.menu{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.menu-title{
  margin-bottom: 2rem;
  font-weight: 700;
}
.menu-content{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 4rem;
}
.menu-content__card{
  width: 16rem;
  text-align: center;
}

.card-img{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: 10rem;
}
.card-content{
  text-align: center;
}
.card-title{
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.card-text{
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 9999px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  background-color: #f8f8f8;
}
.card-bottom{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-price{
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.card-btn{
  display: flex;
  cursor: pointer;
  align-items: center;
}
.card-btn > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.card-btn{
  border-radius: 9999px;
  background-color: transparent;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 700;
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
  transition: 0.1s all ease-in-out;
}
.card-btn:hover {
  background-color: #fe5f1e;
  color: #ffffff;
}
