@import url(https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@400;500;600;700&display=swap);
.noty_layout_mixin, #noty_layout__centerRight, #noty_layout__centerLeft, #noty_layout__center, #noty_layout__bottomRight, #noty_layout__bottomCenter, #noty_layout__bottomLeft, #noty_layout__bottom, #noty_layout__topRight, #noty_layout__topCenter, #noty_layout__topLeft, #noty_layout__top {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}

.noty_effects_close {
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  animation: noty_modal_in 0.3s ease-out;
}

.noty_modal.noty_modal_close {
  animation: noty_modal_out 0.3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}
@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}
@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}
.noty_theme__metroui.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 0 5px 0;
}
.noty_theme__metroui.noty_bar .noty_progressbar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.noty_theme__metroui.noty_bar .noty_body {
  padding: 1.25em;
  font-size: 14px;
}
.noty_theme__metroui.noty_bar .noty_buttons {
  padding: 0 10px 0.5em 10px;
}

.noty_theme__metroui.noty_type__alert,
.noty_theme__metroui.noty_type__notification {
  background-color: #fff;
  color: #1d1d1d;
}

.noty_theme__metroui.noty_type__warning {
  background-color: #FA6800;
  color: #fff;
}

.noty_theme__metroui.noty_type__error {
  background-color: #CE352C;
  color: #FFF;
}

.noty_theme__metroui.noty_type__info,
.noty_theme__metroui.noty_type__information {
  background-color: #1BA1E2;
  color: #FFF;
}

.noty_theme__metroui.noty_type__success {
  background-color: #60A917;
  color: #fff;
}

.module{
  width: 100%;
}

@media (min-width: 640px){
  .module{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .module{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .module{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .module{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .module{
    max-width: 1536px;
  }
}

.module{
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration-line: none;
}

.btn{
  margin-top: 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
}

.link{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.link a{
  font-weight: 500;
  color: #fe5f1e;
}
.link a:hover {
  color: #b23301;
}

.bottom-bar{
  position: absolute;
  bottom: 0px;
  height: 0.75rem;
  width: 100%;
  background-color: #fe5f1e;
}

.auth{
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.auth-form{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.auth-form__title{
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.auth-form__title > span {
  color: #fe5f1e;
}
.auth-form form{
  display: flex;
  flex-direction: column;
}
.auth-form form > input{
  margin-top: 0.75rem;
  border-radius: 0.25rem;
  border-style: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f8f8f8;
}
.auth-form__btn button{
  width: 100%;
}

*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

.login-btn{
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  border: 1px solid #fe5f1e;
  color: #fe5f1e;
  transition: 0.1s all ease-in-out;
}
.login-btn:hover {
  background-color: #fe5f1e;
  color: #ffffff;
}

.error{
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #ffffff;
}
.navbar-title > h4{
  font-size: 1.5rem;
  line-height: 2rem;
}
.navbar-title > h4 > span {
  color: #fe5f1e;
}
.navbar-items__list{
  display: flex;
  align-items: center;
}
.navbar-items__list > li{
  margin-left: 1.5rem;
  list-style-type: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.navbar-items__list > li a {
  color: #232323;
  transition: 0.1s all ease-in-out;
}
.navbar-items__list > li a:hover {
  color: #fe5f1e;
}

.hero{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ccc;
}
.hero-section{
  display: flex;
  justify-content: space-around;
}
.hero-section__content{
  width: 50%;
}
.hero-section__content > h4{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}
.hero-section__content > h4 > span {
  color: #fe5f1e;
}
.hero-section__content > p{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}
.hero-section__content > p > span {
  color: #fe5f1e;
  font-family: "Caveat Brush", cursive;
}
.hero-section__image img{
  height: 24rem;
  width: 24rem;
  border-radius: 9999px;
}

button {
  background-color: #fe5f1e;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  transition: 0.1s all ease-in-out;
}
button:hover {
  background-color: #b23301;
}

.menu{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.menu-title{
  margin-bottom: 2rem;
  font-weight: 700;
}
.menu-content{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 4rem;
}
.menu-content__card{
  width: 16rem;
  text-align: center;
}

.card-img{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: 10rem;
  width: 10rem;
  border-radius: 9999px;
}
.card-content{
  text-align: center;
}
.card-title{
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.card-text{
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 9999px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  background-color: #f8f8f8;
}
.card-bottom{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-price{
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.card-btn{
  display: flex;
  cursor: pointer;
  align-items: center;
}
.card-btn > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.card-btn{
  border-radius: 9999px;
  background-color: transparent;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 700;
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
  transition: 0.1s all ease-in-out;
}
.card-btn:hover {
  background-color: #fe5f1e;
  color: #ffffff;
}

.cart {
  background-color: #f8f8f8;
}

.order{
  width: 50%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.order-title{
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.order-title > h2{
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.order-total{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: right;
  font-weight: 700;
}

.total-text{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.total-price{
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fe5f1e;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.form input{
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  border-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #fe5f1e;
}
.form input:focus{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 1px solid #b23301;
}

.item{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.item > img{
  height: 6rem;
  width: 6rem;
  border-radius: 9999px;
}
.item-data{
  margin-left: 1rem;
  flex: 1 1 0%;
}
.item-data > span{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.item-qty{
  flex: 1 1 0%;
}
.item-price{
  font-weight: 700;
}

.empty-cart{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.empty-cart__content{
  text-align: center;
}
.empty-cart__title{
  margin-bottom: 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.empty-cart__description{
  margin-bottom: 2rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.empty-cart__description > a {
  color: #fe5f1e;
  font-weight: 600;
}
.empty-cart__description > a:hover {
  color: #b23301;
}
.empty-cart__img{
  width: 50%;
}
