<section class="orders">
    <div class="order module">
        <h2 class="order-title">All Orders</h2>
        <table class="order-table">
            <thead>
                <tr>
                    <th class="">Orders</th>
                    <th class="">Customers</th>
                    <th class="">Address</th>
                    <th class="">Status</th>
                    <th class="">Placed At</th>
                </tr>
            </thead>
            <tbody class="order-table-body">
            </tbody>
        </table>
    </div>
</section>