// ----- COLORS -----

// Primary Color
$primary: #fe5f1e;
$primary-hover: #b23301;

// Secondary Color
$secondary: #f8f8f8;

// Neutral
$white: #ffffff;
$black: #232323;
$gray: #ccc;

// ----- FONT FAMILY -----
$default: "Poppins", sans-serif;
