@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@400;500;600;700&display=swap");

@import "./variables";
@import "./common.scss";
@import "./auth.scss";

* {
  @apply m-0 p-0;
}

body {
  font-family: $default;
}

.login-btn {
  @apply py-1 px-4 rounded font-medium;
  border: 1px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.navbar {
  @apply flex items-center justify-around py-6 shadow-md;
  background-color: $white;
  &-title > h4 {
    @apply text-2xl;
    & > span {
      color: $primary;
    }
  }
  &-items {
    &__list {
      @apply flex items-center;
      & > li {
        @apply ml-6 list-none font-semibold text-sm;
        a {
          color: $black;
          transition: $smooth;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.hero {
  @apply py-16;
  background-color: $gray;
  &-section {
    @apply flex justify-around;
    &__content {
      @apply w-1/2;
      & > h4 {
        @apply text-2xl font-medium;
        & > span {
          color: $primary;
        }
      }
      & > p {
        @apply text-7xl font-bold my-3;
        & > span {
          color: $primary;
          font-family: $display;
        }
      }
    }
    &__image {
      img {
        @apply rounded-full h-96 w-96;
      }
    }
  }
}

button {
  background-color: $primary;
  color: $white;
  font-family: $default;
  transition: $smooth;
  &:hover {
    background-color: $primary-hover;
  }
}

.menu {
  @apply py-8;
  &-title {
    @apply font-bold mb-8;
  }
  &-content {
    @apply grid grid-cols-4 gap-x-12 gap-y-16;
    &__card {
      @apply w-64 text-center;
    }
  }
}

.card {
  &-img {
    @apply h-40 mb-4 mx-auto;
  }
  &-content {
    @apply text-center;
  }
  &-title {
    @apply text-lg mb-4;
  }
  &-text {
    @apply py-2 px-4 rounded-full text-xs uppercase w-fit mx-auto;
    background-color: $secondary;
  }
  &-bottom {
    @apply flex items-center justify-around mt-6;
  }
  &-price {
    @apply font-bold text-lg;
  }
  &-btn {
    @apply py-1 px-6 rounded-full cursor-pointer font-bold flex items-center space-x-2 bg-transparent;
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}

.cart {
  background-color: $secondary;
}

.order {
  @apply w-1/2 py-16;
  &-title {
    @apply pb-4 flex items-center;
    & > h2 {
      @apply text-2xl ml-4;
    }
  }
  &-total {
    @apply text-right py-4 font-bold;
  }
}

.total {
  &-text {
    @apply text-lg;
  }
  &-price {
    @apply text-2xl;
    color: $primary;
  }
}

.form {
  @apply flex flex-col items-end py-5;
  input {
    @apply border-none py-2 px-4 rounded mb-2;
    border: 1px solid $primary;
    &:focus {
      @apply outline-none shadow-md;
      border: 1px solid $primary-hover;
    }
  }
}

.item {
  @apply flex items-center my-8;
  & > img {
    @apply w-24;
  }
  &-data {
    @apply ml-4 flex-1;
    & > span {
      @apply text-gray-500;
    }
  }
  &-qty {
    @apply flex-1;
  }
  &-price {
    @apply font-bold;
  }
}

.empty-cart {
  @apply py-16;
  &__content {
    @apply text-center;
  }
  &__title {
    @apply text-3xl mb-2;
  }
  &__description {
    @apply text-gray-500 mb-8;
    & > a {
      color: $primary;
      @apply font-semibold;
      &:hover {
        color: $primary-hover;
      }
    }
  }
  &__img {
    @apply w-1/2;
  }
}
